<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-table.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/all.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/omronstyles.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		
		<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
		<script type=text/javascript src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
		<script type=text/javascript src="{{url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
		{% block customScripts %}{% endblock %}
	</body>
</html>